<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gome.iam.dao.user.SysUserMapper">
    <resultMap id="ssoUser" type="com.gome.iam.domain.user.SysUser">
        <result column="sys_user_id" property="sysUserId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="findByUserNameAndPassword" parameterType="com.gome.iam.domain.user.SysUser"
            resultType="com.gome.iam.domain.user.SysUser">
        SELECT
        su.sys_user_id AS sysUserId,
        su.user_name AS userName,
        su.password AS `password`,
        su.create_date AS createDate,
        su.status AS `status`
        FROM
        sys_user su
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="userName != null and userName != ''">
                AND su.user_name = #{userName}
            </if>
            <if test="password != null and password != ''">
                AND su.password = #{password}
            </if>
        </trim>
       AND su.status = 0
    </select>
</mapper>