<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/sso.png"/>
    <title>国美云服务协议</title>
    <link rel="stylesheet" type="text/css" href="../css/signin.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-ext/css/family.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../theme/theme.css">
    <link rel="stylesheet" type="text/css" href="../css/extend.css">
    <link rel="stylesheet" type="text/css" href="../fonts/icon-font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../layer/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="../css/login_style.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <!-- Let HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/html5shiv/html5shiv-3.7.3.min.js"></script>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/respond/respond-1.4.2.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="../bootstrap/3.3.7/js/ie/ie10-viewport-bug-workaround.js"></script>
</head>

<body>

<div class="navbar navbar-static-top ">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="javascript:void(0);">
                    <img src="../images/logo-new.png">
                </a>
            </div>
            <h2 class="logo-title">服务协议</h2>
        </div>
        <div class="zxcf_nav_r fr">
            <a href="user.register.html" style="color: #83AFD3;font-size: 21px;">注册 |</a>
            <a href="login.html" style="color: #83AFD3;font-size: 21px;"> 登录</a>
        </div>
    </div>
</div>

<div>
    <div id="base" class="">



        <!-- Unnamed (矩形) -->
        <div id="u225" class="ax_default _一级标题">
            <div id="u225_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u226" class="text" style="visibility: visible;">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u227" class="ax_default _一级标题" style="margin: 20px;">
            <div id="u227_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u228" class="text" style="margin-left: 50%;color: #83AFD3;font-size: 20px;">
                <p><span>国美云服务协议</span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u229" class="ax_default box_1">
            <div id="u229_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u230" class="text" style="text-align: left;margin-left: 130px;">
                <p style="font-size:14px;line-height:22px;"><span>欢迎您使用国美云服务！</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 《国美云服务协议》（以下称：本协议）是国美云经营者国美云网络科技有限公司（以下简称：国美云），与用户，共同缔结的对双方具有约束力的有效契约。</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; 一旦您选择“同意协议并注册”（具体措辞详见注册页面）完成注册流程或您以任何方式使用国美云服务，即视为您已阅读并同意本协议所述协议、规则等的约束。请您详细阅读了解以下服务条款：</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">一、总则</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、国美云向用户提供国美云网站上所展示的产品与服务（以下称：国美云服务/本服务），并将不断更新，最新的国美云服务以相应产品页面介绍以及向用户实际提供的为准。</span></p>
                <p style="font-size:14px;"><span>2、您确认：您在使用本服务之前，已经充分阅读、理解并接受本服务条款的全部内容，一旦您选择“同意协议并注册”完成注册流程或使用本服务，即表示您同意遵循本服务条款之所有约定。</span></p>
                <p style="font-size:14px;"><span>3、您同意：国美云有权随时对本服务条款及相应的服务规则内容进行单方面的变更，并有权以消息推送、网页公告等方式予以公布，而无需另行单独通知您；若您在本服务条款内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的条款内容使用本服务；若您不同意修改后的服务条款，您应立即停止使用本服务。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">二、国美云介绍</span></p
                ><p style="font-size:14px;line-height:22px;"><span>1、“云服务”指国美云服务网站提供的各种云服务产品（包括相关API）及云服务内容，不包括第三方内容。</span>
            </p><p style="font-size:14px;"><span>2、“云服务内容”指国美云提供的云服务产品承载的有关内容和国美云提供的国美云服务网站上用于访问和使用云服务产品的内容，包括资料、示例代码、软件库、命令行工具及其他相关信息。</span></p>
                <p style="font-size:14px;"><span>3、“API”指应用程序接口。</span></p>
                <p style="font-size:14px;"><span>4、“相关信息”指开发人员指南、入门指南、用户指南、快速查询指南及国美云服务网站上的其他技术操作手册、服务说明等。国美云有权随时进行更新。</span></p>
                <p style="font-size:14px;"><span>5、“第三方内容”指第三方在国美云服务网站上提供的内容或同服务一起为用户提供的内容。</span></p>
                <p style="font-size:14px;"><span>6、“用户账户”指国美云根据合同代替用户在国美云服务网站上注册生成的账户，该账户具有账号、余额等属性。</span></p>
                <p style="font-size:14px;"><span>7、“用户账号”指用户账户中用于唯一标识用户身份的编号。</span></p>
                <p style="font-size:14px;"><span>8、“用户内容”指用户(1)在云服务产品上运行的内容；（2）与云服务产品交互的内容；（3）用用户的账户或通过账户转让、占有、使用、存储而上传至云服务产品的内容。</span></p>
                <p style="font-size:14px;"><span>9、 云服务的暂停：指国美云云计算平台为用户订单分配的云服务产品只能通过管理控制台查询和显示，但暂时不能进行管理和维护操作，也暂时不能访问和使用这些资源。</span></p>
                <p style="font-size:14px;"><span>10、 云服务的终止：指国美云云计算平台为用户订单分配的云服务产品永久性不能通过管理控制台查询和显示，也永久性不能进行管理和维护操作，永久性不能访问和使用这些资源。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">三、国美云服务内容及费用</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、国美云可为用户提供云主机、云盘、负载均衡、IDC带宽、CDN等产品服务和运维服务，具体服务条目以云官网或签订的服务订单为准。</span></p>
                <p style="font-size:14px;"><span>2、国美云服务实际费用以服务订单或网站显示价格为准。</span></p>
                <p style="font-size:14px;"><span>3、用户发起采购需求订单，双方授权项目经理签字，国美云会按照订单要求时间、提供订单采购内容。</span></p>
                <p style="font-size:14px;"><span>4、国美云每月5日前（如遇国家法定节假日，顺延），提供上一月服务报告；服务报告包括但不限于工作报告、订单对比实际发生数量、金额的确认页，需由双方授权项目经理签字确认；用户在收到乙方服务报告5日内需进行确认，如超过5日仍未确认，则视为服务报告通过。</span></p>
                <p style="font-size:14px;"><span>5、用户付款方式为电汇。每月15日，结算一次。国美云在用户每次付款5日前为用户开具并提交等额的增值税专用发票，税率为6%。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">四、国美云服务使用规则及权利义务</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、用户可访问和使用国美云服务网站提供的云服务产品，使用云服务产品时，应遵守相关的法律法规和规章制度以及双方签订的本协议及相关协议，包括与云服务产品相对应的服务协议、《信息安全保障责任书》以及国美云服务网站规定的其他政策。</span></p>
                <p style="font-size:14px;"><span>2、用户应按订单约定的价格、支付方式、时间及时足额支付相关费用。当用户账户发生欠款时，国美云有权暂停相关云服务产品。当用户拖欠三十天欠款时，国美云有权终止相关云服务产品。</span></p>
                <p style="font-size:14px;"><span>3、若用户允许、协助或方便任何终端用户访问或使用与本协议相关的用户内容或云服务产品，用户应承担终端用户使用您内容和云服务产品带来的全部责任。用户如向终端用户提供客户服务，应与终端用户签有独立的协议，否则国美云将不为终端用户提供任何支持或服务。</span></p>
                <p style="font-size:14px;"><span>4、若用户在注册、登录、使用帐号头像、个人简介等帐号信息资料存在违法和不良信息或包含有不正确、不真实信息的，国美云有权采取通知限期改正、暂停使用、取消用户资格等措施。对于冒用关联机构或社会名人登录、使用、填写帐号名称、头像、个人简介的，国美云有权取消该帐号的使用，并向政府主管部门进行报告。</span></p>
                <p style="font-size:14px;"><span>5、用户应对注册的国美云帐号负责，用户保证只有本人可以使用该用户国美云帐号，该帐号不可转让、不可赠与、不可继承。</span></p>
                <p style="font-size:14px;"><span>6、用户对其注册的国美云服务及密码进行的一切操作负完全的责任，且同意对其的帐号和密码进行妥善保管，对于因密码泄露所致的损失，由用户自行承担。如用户发现有他人冒用或盗用您的帐号及密码或任何其他未经合法授权之情形时，应立即以有效方式通知国美云，要求国美云暂停相关服务。同时，理解国美云对其的请求采取行动需要合理期限，在国美云采取措施前，国美云对已执行的指令及所导致的您的损失不承担任何责任。</span></p>
                <p style="font-size:14px;"><span>7、用户应全部承担与其内容相关的责任和义务，包括但不限于内容的合法性、已经获得第三方相关合法授权等。用户保证其内容不含任何违反国家有关法律、法规及中华人民共和国承认或加入的国际条约的内容，包括但不限于如下：</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 1) 违反国家规定的政治宣传和/或新闻信息；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 2) 涉及国家秘密和/或安全的信息；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 3) 封建迷信和/或淫秽、色情、下流的信息或教唆犯罪的信息；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 4) 博彩有奖、赌博游戏、“私服”、“外挂”等非法互联网出版活动；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 5)&nbsp; 违反国家民族和宗教政策的信息；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 6)&nbsp; 妨碍互联网运行安全的信息；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 7)&nbsp; 侵害他人合法权益的信息和/或其他有损于社会秩序、社会治安、公共道德的信息或内容；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 8)&nbsp; 其他违反法律法规、部门规章或国家政策的内容。</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 9)&nbsp; 侵犯他人知识产权、人身权或其他合法权益以及有违社会公序良俗的内容或指向这些内容的链接。</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 10)&nbsp; 发布、传送、传播不受欢迎的或者未经请求的电子邮件、电子广告或包含反动、色情等有害信息的电子邮件。</span></p>
                <p style="font-size:14px;"><span>8、用户应对其账户的全部行为承担法律责任。因用户账户或内容导致国美云、第三方损失的，用户应当赔偿国美云或第三方因此而遭受的损失，并消除影响。在以下情形下，用户有义务应对、保障国美云及其董事、高级职员、雇员、代理商、合作伙伴、供应商免受任何第三方的索赔或诉讼请求，包括合理的律师费：</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 1) 在使用和访问云服务过程中，以用户账户的名义提交、发布、传送或以其他方式而导致的；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 2) 以用户账号的名义使用的服务和参加的活动导致的；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 3) 用户违反本协议条款的任何行为；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 4) 用户侵犯任何第三方的权利的行为，例如侵害任何第三方的知识产权，或发布对他人的诽谤性内容，或发布违反任何保密协议的内容；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 5) 用户未经授权擅自修改或更改任何云服务内容的。</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 6) 上述义务在用户用户终止使用云服务或本协议终止的情况下依然生效。</span></p>
                <p style="font-size:14px;"><span>9、 用户理解并同意，若国美云自行发现或根据相关监管部门的信息、权利人的投诉等，发现用户行为违反相关法律法规或有关用户义务的约定，国美云有权在必要时候采取以下措施中的一种或多种： </span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 1)&nbsp; 要求用户立即更换、修改内容； </span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 2)&nbsp; 直接删除、屏蔽相关内容或断开链接等； </span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 3)&nbsp; 限制、中止用户使用本服务（包括但不限于直接对用户的部分服务进行下线并收回相关资源、对用户的云服务帐号进行操作限制等）；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 4)&nbsp; 终止用户使用国美云服务，终止合作（包括但不限于直接对用户的全部服务进行下线并收回相关资源等）。由此导致的后果由用户自行承担，给国美云造成损失的（包括但不限于工业和信息化部等有关部门的行政处罚等），用户应当承担赔偿责任。</span></p>
                <p style="font-size:14px;"><span>10、用户利用云服务产品进行有关经营活动包括但不限于开通非经营性网站、经营性网站、开通BBS等电子公告服务以及新闻等栏目，按国家有关法律法规，需要在国家有关部门进行备案或者获得国家有关部门审批的，用户应当严格按照有关规定自行进行备案、及时通过国家有关部门的审批或获得经营许可，完成相关行政手续。</span></p>
                <p style="font-size:14px;"><span>11、用户应正确地配置和使用云服务产品，并自行采取一定的安全性措施，对用户内容进行保护和备份，包括但不限于使用加密技术，防止用户内容被擅自访问，并对用户内容进行日常存档。</span></p>
                <p style="font-size:14px;"><span>12、用户必须遵守云服务产品的相关技术文件（包括开发者指南）的要求，上述文件由国美云服务网站公布，并随时更新。</span></p>
                <p style="font-size:14px;"><span>13、用户不得以本协议允许范围之外的方式和目的使用云服务，包括但不限于修改、涂抹、篡改或以其它方式创建云服务中任何软件的衍生品；进行反向工程、反汇编或反编译。</span></p>
                <p style="font-size:14px;"><span>14、未经国美云事先书面同意，用户不得向任何第三方出租、租赁、出借、质押或直接或间接转让或分发产品，也不得允许任何第三方访问和/或使用产品的功能，除非依据本协议或相关协议规定仅终端用户以软件服务的形式访问产品的功能 .</span></p>
                <p style="font-size:14px;"><span>15、用户不进行任何破坏或试图破坏网络安全的行为，包括但不限于以病毒、木马、恶意代码、钓鱼等方式，采取对其他网站、服务器进行恶意扫描、非法侵入系统、非法获取数据等；</span></p>
                <p style="font-size:14px;"><span>16、用户不得试图恶意改变国美云云服务提供的系统配置或破坏国美云云服务系统安全。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">五、云服务及服务条款的变更和中止</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、本合同适用于中华人民共和国法律。</span></p>
                <p style="font-size:14px;"><span>2、本合同各条款应独立有效。如果本合同任何条款不合法、无效或不可执行，或者被有管辖权的人民法院宣布为不合法、无效或不可执行，不影响本合同其它条款的效力。</span></p>
                <p style="font-size:14px;"><span>3、本合同生效后，除法律和本合同另有规定外，任一方不得随意单方变更或解除本合同，否则应当承担违约责任。</span></p>
                <p style="font-size:14px;"><span>4、双方在合同有各自履行完毕本合同全部义务后，本合同终止。</span></p>
                <p style="font-size:14px;"><span>5、因本合同引起的或与本合同有关的任何争议，双方均应通过友好协商解决。</span></p>
                <p style="font-size:14px;"><span>6、若协商不能解决的，任何一方均有权向国美云所在地人民法院提起诉讼。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">六、不可抗力条款</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，遭受不可抗力、意外事件的一方不承担责任。</span></p>
                <p style="font-size:14px;"><span>2、不可抗力、意外事件是指不能预见、不能克服并不能避免且对一方或双方当事人造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行等以及社会事件如战争、动乱、政府行为、电信主干线路中断、黑客、网路堵塞、电信部门技术调整和政府管制等。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">七、国美云服务承诺及权利</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、国美云主机可用性达99.95%。其中： 服务可用性 = 1 - 所有云主机故障时数/（所有云主机可用时数＋所有云主机故障时数）； 所有云主机指所有运行在国美云计算平台上的云主机数量，而非用户购买的虚拟机数量。</span></p>
                <p style="font-size:14px;"><span>2、云主机不可用时间不包括日常系统维护时间、用户正常重启时间、DDoS等外部攻击导致的不可用时间、以及由客户原因导致的不可用时间。</span></p>
                <p style="font-size:14px;"><span>3、鉴于网络服务的特殊性，用户了解并同意，国美云有权变更、中断或终止部分或全部的网络服务。如变更、中断或终止的网络服务属于免费网络服务，国美云无需针对用户进行单独通知。</span></p>
                <p style="font-size:14px;"><span>4、国美云需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，可能造成收费网络服务在合理时间内的中断。此时间将不计算在服务可用性范围内，但国美云应尽可能进行事先通告用户。</span></p>
                <p style="font-size:14px;"><span>5、当且仅当国美云因自身原因导致云服务不可用或出现严重故障（如无法登陆云主机，云主机宕机，数据丢失）的情况下，国美云有义务尽快修复问题。</span></p>
                <p style="font-size:14px;"><span>6、在非不可抗力情况下，国美云将采取合理可行的措施，从而帮助保护用户内容的安全，防止意外、非法的损失、访问或泄露的发生。</span></p>
                <p style="font-size:14px;"><span>7、国美云拥有本协议条款中云服务产品的所有权，国美云应当负责云服务产品的基本硬件配置和服务器日常硬件维护及故障的排除。</span></p>
                <p style="font-size:14px;"><span>8、国美云应当及时排除用户在使用云服务过程中非人为操作原因所出现的故障，但因用户原因和/或不可抗力以及非国美云控制范围之内的原因除外。</span></p>
                <p style="font-size:14px;"><span>9、国美云将在必要时对云服务产品进行升级，或将云服务产品进行机房迁移，升级后的云服务产品能够支持现有云服务产品的功能。国美云进行上述操作前将提前3日通知用户，用户对国美云的升级服务具有配合支持的义务。对于用户不配合国美云完成云服务产品升级而造成的任何后果，由用户承担全部责任。</span></p>
                <p style="font-size:14px;"><span>10、用户理解并同意，基于产品周期变化等原因，国美云有权根据实际需要变更、暂停或取消部分云服务产品及其某种特性、功能或API接口。上述变更、暂停等操作，国美云应在国美云服务网站上公布或以电子邮件等形式通知用户。</span></p>
                <p style="font-size:14px;"><span>11、非经国美云或其他相关权利人的书面授权，任何人不得擅自使用、复制、修改、改变、传播、公开发行或发表国美云服务网站程序或内容。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">八、违约责任</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、本合同生效后，双方均应全面履行合同义务。任一方违约，均应按照约定承担违约责任，并赔偿对方由此遭受的损失，其中：</span></p>
                <p style="font-size:14px;"><span>2、用户逾期付款责任。用户逾期付款在30个工作日内（含），每逾期一日，用户应当向国美云支付逾期应付款0.05 %的违约金，但违约金总数不得超过合同总价款的5% ；逾期付款超过30个工作日（不含）的，国美云有权要求用户解除合同，用户应向国美云支付相当于合同总额20%的违约金。</span></p>
                <p style="font-size:14px;"><span>3、国美云逾期履约或不履约责任。国美云超出双方约定的时间，逾期交付，逾期在30个工作日（含）内的，每逾期1日，国美云应当向用户支付本合同总价款 0.05 %的违约金，但违约金总数不超过本合同总价款的5%；逾期超过个工作日（含）的，视为国美云不履行。</span></p>
                <p style="font-size:14px;"><span>4、逾期付款或逾期交付的起始计算时间，以合同约定、或双方项目经理确定的变更时间、或补充协议确认的变更时间为准。</span></p>
                <p style="font-size:14px;"><span>5、用户理解，鉴于计算机、互联网的特殊性，下述情况不属于国美云违约：</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 1)国美云在进行相关服务、平台、服务器、网络设施的升级、配置、维护时时，需要短时间中断服务，但国美云应提前通知用户；</span></p>
                <p style="font-size:14px;"><span>&nbsp;&nbsp; &nbsp;&nbsp; 2)由于Internet上的通路阻塞造成用户网站访问速度下降。</span></p>
                <p style="font-size:14px;"><span>6、如因国美云原因，造成用户连续72小时不能正常使用服务的，用户可以终止服务，但非国美云控制之内的原因引起的除外。</span></p>
                <p style="font-size:14px;"><span>7、在任何情况下，国美云均不对任何间接性、后果性、惩戒性、偶然性、特殊性的损害，包括用户使用国美云服务而遭受的利润损失承担责任（即使用户已被告知该等损失的可能性）。</span></p>
                <p style="font-size:14px;"><span>8、在任何情况下，国美云本协议所承担的违约赔偿责任总额不超过违约服务对应之服务费总额。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">九、保密</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、国美云和用户各自应对对方的保密信息进行保密，除非得到对方正式授权，否则不得通过复制、出售、转让、许可、营销或以其他方式向第三方披露此类信息。各自不得为本合同服务以外的任何其他目的使用对方的保密信息。</span></p>
                <p style="font-size:14px;"><span>2、任一方违反本合同所约定的保密义务，守约方有权追偿。</span></p>
                <p style="font-size:14px;"><span>3、双方承诺在本合同终止后三年之内，任何一方在未经另一方书面许可的情况下，不得以故意或过失为由，以声音、图像、文字、电子数据等所有信息载体向非本合同的第三方提供或披露本合同签订的背景、本合同的内容及附件以及其他有可能获得的对方的情况信息，否则构成违约，但法律另有规定的除外。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">十、知识产权</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、用户应保证提交国美云的素材、对国美云服务的使用及使用国美云服务所产生的成果未侵犯任何第三方的合法权益。如有第三方基于用户侵犯版权、侵犯第三人之权益或违反中国法律法规或其他适用的法律等原因而向国美云提起索赔、诉讼或可能向其提起诉讼, 则用户应赔偿国美云因此承担的费用或损失，并使国美云完全免责。</span></p>
                <p style="font-size:14px;"><span>2、如果第三方机构或个人对用户使用国美云服务所涉及的相关素材的知识产权归属提出质疑或投诉，用户有责任出具相关知识产权证明材料，并配合国美云相关投诉处理工作。</span></p>
                <p style="font-size:14px;"><span>3、用户承认国美云向自己提供的任何资料、技术或技术支持、软件、服务等的知识产权均属于国美云或第三方所有。除国美云或第三方明示同意外，用户无权复制、传播、转让、许可或提供他人使用上述资源，否则应承担相应的责任。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">十一、协议终止</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、本协议生效后，除法律和本协议另有规定外，任一方不得随意单方变更或解除本协议，否则应当承担违约责任。</span></p>
                <p style="font-size:14px;"><span>2、甲乙双方在协议有各自履行完毕本合同全部义务后，本协议终止。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">十二、争议解决</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、本服务条款适用于中华人民共和国法律。</span></p>
                <p style="font-size:14px;"><span>2、因本协议引起的或与本协议有关的任何争议，双方均应通过友好协商解决。</span></p>
                <p style="font-size:14px;"><span>3、若协商不能解决的，任何一方均有权向国美云所在地人民法院提起诉讼。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">十三、条款效力独立性</span></p>
                <p style="font-size:14px;line-height:22px;"><span>1、本协议各条款应独立有效。如果本协议任何条款不合法、无效或不可执行，或者被有管辖权的人民法院宣布为不合法、无效或不可执行，不影响本协议其它条款的效力。</span></p>
                <p style="font-size:20px;line-height:48px;"><span style="color:#4386BC;">十四、其他</span></p>
                <p style="font-size:20px;line-height:22px;"><span style="color:#4386BC;"></span><span style="font-size:14px;">1、用户确认已认真阅读本合同，理解并认同所有条款。</span></p>
                <p style="font-size:14px;"><span>2、本协议未尽事宜，双方可以协商签订补充本协议，补充本协议与本协议不一致处以补充协议为准。</span></p>
                <p style="font-size:14px;"><span>3、协议生效后，对本协议进行变更或修改的，应签署书面文件，并经双方签字盖章予以确认。</span></p>
                <p style="font-size:14px;line-height:48px;"><span><br></span></p>
            </div>
        </div>
    </div>
    <!--<div style="text-align: -webkit-left;">
        <h2>尊敬的xxxxx用户，您好 :</h2>
        <h2>您正在操作您的账号信息，请使用下面的验证码，验证码 120秒内有效:</h2>
        <h1><a style="color: #2aabd2;margin-left: 278px;font-size: larger">506725</a></h1>
        <p>注意：此操作可能会修改您的密码、登录邮箱或绑定手机。如非本人操作，请及时登录并修改密码以保证帐户安全 。请保管好您的邮箱，避免账号被他人盗用。</p>
        <br>
        <p>此为系统邮件，请勿回复!</p>
        <p align="right" style="">国美云团队</p>
    </div>-->
</div>

<!--底部-->
<div class="row">
    <div class="container-fluid" style="border: 1px solid #eee;height: 80px;background-color: #eee;position: static;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="nav btn-group">
                    <li><a href="http://gmdns.pt.gomedc.com" >Gome DNS Portal</a></li>
                </ul>
                <ul class="nav btn-group">
                    <li><a href="http://gmdns.pt.gomedc.com" >Gome DNS Portal</a></li>
                </ul>
                <ul class="nav btn-group">
                    <li>
                        <a href="http://gmdns.pt.gomedc.com" >
                            Gome DNS Portal
                            <img class="new" src="../images/new.gif">
                        </a>

                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- <a target="_blank">
                     <img class="foot_e" src='../images/logo-cenent.png'/>
                 </a>-->

                <a href="" target="_blank" class="foot_b">Copyright © <span id="copyrightYear"></span> 北京国美云网络科技有限公司 All rights reserved.</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>